body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

/* Header professionnel */
header {
    background-color: #2C3E50;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header .logo {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s ease;
}

/* Style pour le lien actif */
nav ul li a.active {
    color: #1ABC9C;

   
}


nav ul li a:hover {
    color: #1ABC9C;
}


        /* Footer */
        footer {
            background-color: #2C3E50;
            color: white;
            text-align: center;
            padding: 10px;
            margin-top: 20px;
        }